/* ============================================================================================== 
 2016.1.27 BY WXF  http://www.youngon.com
================================================================================================= */
/* general styles */
*{margin:0px; padding:0px;}
ul{ list-style:none;}
li{ list-style:none;}
a{ text-decoration:none;color:#FFF;}
.nav{
	 height:34px; 
	 width:100%; 
	 margin:0px auto;
	 background:#292929;
	 float:left;
	 position:fixed;
	 left:0px;
	 top:0px;
	 z-index:10;
	  }
.classmark{
		width:30px;
	    height:34px; 
		float:left;
		border-radius:5px;
		background:url(../img/classmark.png);
		background-position:center;
		cursor:pointer;
		position:relative;
		left:0px;
		top:0px;
		}

.hide-nav{
		width:30px;
	    height:30px; 
		float:right;
		border-radius:5px;
		background:url(../img/hidenav.png);
		background-position:center;
		cursor:pointer;
		position:fixed;
		right:0px;
		top:0px;
		}
.show-nav{
	    position:fixed;
		right:0px;
		top:0px;
		width:30px;
	    height:30px; 
		float:right;
		background:url(../img/shownav.png);
		background-repeat:no-repeat;
		cursor:pointer;
		display:none;
		z-index:9;}
.Aboutus{height:200px;
		width:100%;
		background:rgba(0,0,0,0.25);
		position:fixed;
		left:0px;
		top:34px;
		overflow:hidden;
		display:none;
		z-index:10;}
.classmark-big{
		margin-left:50px;
		height:auto;
		width:auto;
		float:left;
		background:rgba(255,255,255,0.25);}
.aboutus-text{
		padding:0px;
		margin-left:80px;
		height:200px;
		width:800px;
		color:#fff;
		float:left;
		font-size:14px;
		font-family:"微软雅黑";}	
		
.backtop{display:none;
	    height:60px;
		width:60px;
		position:fixed;
		right:5px;
		bottom:5px;
		background:url(../img/top.png);
		background-repeat:no-repeat;
		background-position:center;
		background-color:#999;
		filter:alpha(opacity=85);
		opacity:0.35;
		z-index:10;
		cursor:pointer;}
.backtop:hover{background-color:#666;
				filter:alpha(opacity=55);
				opacity:0.55;}		

.menu, .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu {
    height: 30px;
	}
.menu li {
	cursor:pointer;
    background: -moz-linear-gradient(#292929, #252525);
    background: -ms-linear-gradient(#292929, #252525);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #292929), color-stop(100%, #252525));
    background: -webkit-linear-gradient(#292929, #252525);
    background: -o-linear-gradient(#292929, #252525);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#292929', endColorstr='#252525');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#292929', endColorstr='#252525')";
    background: linear-gradient(#292929, #252525);

    border-bottom: 2px solid #181818;
    border-top: 2px solid #303030;
    min-width: 140px;
}
.menu > li {
    display: block;
    float: left;
    position: relative;
}
.menu > li:first-child {
    border-radius: 0px 0 0;
}
.menu a {
    border-left: 3px solid rgba(0, 0, 0, 0);
    color: #CCC;
    display: block;
    font-family: 'Lucida Console';
    font-size: 15px;
    line-height: 30px;
	text-align:center;
    text-decoration: none;
    text-transform: uppercase;
}

/* onhover styles */
.menu li:hover {
	background-color: #1c1c1c;
	background: -moz-linear-gradient(#1c1c1c, #1b1b1b);
	background: -ms-linear-gradient(#1c1c1c, #1b1b1b);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1c1c1c), color-stop(100%, #1b1b1b));
	background: -webkit-linear-gradient(#1c1c1c, #1b1b1b);
	background: -o-linear-gradient(#1c1c1c, #1b1b1b);



    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c1c1c', endColorstr='#1b1b1b');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c1c1c', endColorstr='#1b1b1b')";
	background: linear-gradient(#1c1c1c, #1b1b1b);
	border-bottom: 2px solid #222222;
	border-top: 2px solid #1B1B1B;
	text-align: left;
}
.menu li:hover > a {
    border-radius: 5px 0 0 0;
    border-left: 3px solid #C4302B;
    color: #C4302B;
}

/* submenu styles */
.submenu {	
	left: 1px;
	max-height: 0;
	position: absolute;
	top: 32px;
	z-index: 0;
	-webkit-perspective: 400px;
	-moz-perspective: 400px;
	-ms-perspective: 400px;
	-o-perspective: 400px;
	perspective: 400px;
	width: 140px;
}
.submenu a{color:#808080;}
.submenu li {
    opacity: 0;
	padding-top:5px;
	height:35px;
	-webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);

    -webkit-transition: opacity .4s, -webkit-transform .5s;
    -moz-transition: opacity .4s, -moz-transform .5s;
    -ms-transition: opacity .4s, -ms-transform .5s;
    -o-transition: opacity .4s, -o-transform .5s;
    transition: opacity .4s, transform .5s;
}
.menu .submenu li:hover a {
    border-left: 3px solid #454545;
    border-radius: 0;
    color: #ffffff;
}
.menu > li:hover .submenu, .menu > li:focus .submenu {
    max-height: 2000px;
    z-index: 10;
}
.menu > li:hover .submenu li, .menu > li:focus .submenu li {
    opacity: 0.85;

    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

/* CSS3 delays for transition effects */
.menu li:hover .submenu li:nth-child(1) {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.menu li:hover .submenu li:nth-child(2) {
    -webkit-transition-delay: 50ms;
    -moz-transition-delay: 50ms;
    -ms-transition-delay: 50ms;
    -o-transition-delay: 50ms;
    transition-delay: 50ms;
}
.menu li:hover .submenu li:nth-child(3) {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -ms-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}
.menu li:hover .submenu li:nth-child(4) {
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -ms-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms;
}
.menu li:hover .submenu li:nth-child(5) {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
}
.menu li:hover .submenu li:nth-child(6) {
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -ms-transition-delay: 250ms;
    -o-transition-delay: 250ms;
    transition-delay: 250ms;
}
.menu li:hover .submenu li:nth-child(7) {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}
.menu li:hover .submenu li:nth-child(8) {
    -webkit-transition-delay: 350ms;
    -moz-transition-delay: 350ms;
    -ms-transition-delay: 350ms;
    -o-transition-delay: 350ms;
    transition-delay: 350ms;
}

.submenu li:nth-child(1) {
    -webkit-transition-delay: 350ms;
    -moz-transition-delay: 350ms;
    -ms-transition-delay: 350ms;
    -o-transition-delay: 350ms;
    transition-delay: 350ms;
}
.submenu li:nth-child(2) {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}
.submenu li:nth-child(3) {
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -ms-transition-delay: 250ms;
    -o-transition-delay: 250ms;
    transition-delay: 250ms;
}
.submenu li:nth-child(4) {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
}
.submenu li:nth-child(5) {
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -ms-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms;
}
.submenu li:nth-child(6) {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -ms-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}
.submenu li:nth-child(7) {
    -webkit-transition-delay: 50ms;
    -moz-transition-delay: 50ms;
    -ms-transition-delay: 50ms;
    -o-transition-delay: 50ms;
    transition-delay: 50ms;
}
.submenu li:nth-child(8) {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}


/***********************/
/* 检测浏览器是否缩放或放大 */
/***********************/

/* 字体检测 */
.mod-zoomdetect {
	position:absolute;
	top:0px;
    width : 100%;
    height : 40px;
    background : #FEFFE5;
    line-height : 40px;
    font-size : 16px;
    text-align : center;
    border-bottom : 1px solid #E7CF7B;
    user-select : none;
    clear:both;
	z-index:1000;
}
.mod-zoomdetect div{ text-align:center;z-index:1000}
.mod-zoomdetect q {
    font-weight: bold;
    color: #f00;
	
}
.mod-zoomdetect .wzd-btnclose {
    float: right;
    margin: 12px 10px 0 0;
    line-height : 20px;
    font-size : 14px;
    text-decoration : none;
    display: block;
    height: 17px;
    width: 18px;
    text-indent: -999em;
	
}
.mod-zoomdetect .wzd-close:hover {
    text-decoration : none;
}
.mod-zoomdetect .wzd-nevertip {
    text-decoration: underline;
    color: #2383C2;
    font-size : 14px;
	
}
.mod-zoomdetect .wzd-nevertip:hover {
    color: #23a3C2;
}























#bottom{
	width: 100%;
	height: 120px;
	background: rgba(0,0,0,0.25);
	}
#foot{margin:0 auto;height:50px;width:100%;}
#footimg{margin:0 auto;width:180px;height:45px;margin-bottom:18px;}
#foottext{width:100%;height:50px;color:#fff;font-size:12px;font-family:"微软雅黑"; text-align:center;line-height:18px;padding-top:10px;}










